.listFlex {
    display: flex;
    flex-wrap: wrap;
}

.rating {
    padding: 0 0 1rem 0;
}

i.fa-star {
    color: lightgrey;
    &:hover {
        color: $lightColour;
    }
}

i.starFill {
    color: $lightColour;
}

@media (max-width: 1180px) {
    .card {
        width: calc(50% - 2rem);
    }
}

@media (max-width: 750px) {
    .card {
        width: calc(100% - 2rem);
    }
}

@media (max-width: 350px) {
    .card img {
        width: 40%;
    }

    .card .displayContent {
        width: 60%;
    }
}