article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  width: 110rem;
  margin: 0 auto; }

img {
  max-width: 100%;
  filter: grayscale(100%); }
  img:hover {
    filter: none; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  color: #1c1c22;
  font-family: 'M PLUS Rounded 1c', sans-serif; }

h1 {
  padding: 3rem 0 0 0;
  margin: 0;
  font-size: 7rem; }

h2 {
  padding: 4rem 0;
  margin: 0;
  font-size: 4rem;
  text-align: left; }

h3 {
  width: 100%;
  padding: 0;
  margin: 0 0 1rem 0;
  font-size: 2rem;
  font-weight: 700; }

h4 {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0 0 1rem 0; }

header {
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("./assets/cozy-book.jpg");
  background-size: cover;
  color: #1c1c22;
  padding: 3rem 0;
  height: 100vh; }

.headerFlex {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

header p {
  font-size: 3.5rem; }

nav {
  background: #b098a4;
  color: #fceff9;
  width: 30%;
  position: fixed;
  top: 0;
  right: -30%;
  bottom: 0;
  z-index: 10;
  transition: all .5s; }
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 40px; }

nav a {
  color: #fceff9;
  padding: 3rem;
  border-bottom: 1px solid grey;
  display: block; }

nav a:hover {
  background: #bea6b2; }

input#toggle:checked + nav {
  /* hide or show */
  right: 0; }

input#toggle:checked ~ .wrapper {
  left: -30%;
  transition: all .5s; }

input#toggle {
  display: none; }

label[for='toggle'] {
  position: fixed;
  font-size: 3rem;
  top: 20px;
  left: 20px;
  color: #1c1c22; }

.searchResults {
  text-align: left;
  font-size: 1.8rem; }

.formFlex {
  margin: 1rem 0; }
  .formFlex input[type=text] {
    border-radius: 0.2rem;
    border: 0.1rem solid #b098a4;
    margin-right: 1rem; }
    .formFlex input[type=text]:focus {
      border: 0.1rem solid #ef6461; }
  .formFlex input[type=submit] {
    width: 10rem;
    font-size: 1.8rem;
    text-align: center;
    padding: 0.2rem; }

.resultsFlex {
  display: flex;
  flex-wrap: wrap; }
  .resultsFlex button {
    width: 10rem; }
  .resultsFlex img {
    width: 10rem; }

.listFlex {
  display: flex; }

.card {
  display: flex;
  color: #1c1c22;
  text-align: left;
  margin: 1rem;
  padding: 1rem;
  width: calc(33.33% - 2rem);
  font-family: 'Raleway', sans-serif; }
  .card .displayContent {
    width: 20rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column; }
  .card img {
    object-fit: cover;
    width: 50%;
    margin-right: 1rem; }
    .card img ::after {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: '\f3a8';
      bottom: 0;
      right: 0; }

.rating {
  padding: 0 0 1rem 0; }

i.fa-star {
  color: lightgrey; }
  i.fa-star:hover {
    color: #ef6461; }

.fa-goodreads {
  font-size: 2.5rem;
  color: lightgrey;
  align-self: flex-end;
  justify-self: flex-end;
  padding-top: 0.2rem; }

i.starFill {
  color: #ef6461; }

button, input[type=submit] {
  width: 100%;
  background: #b098a4;
  border: none;
  border-radius: 0.2rem;
  margin: 0.5rem 0;
  padding: 0.5rem;
  font-size: 1.4rem;
  text-align: left; }
  button:hover, input[type=submit]:hover {
    background: #bea6b2; }
